/* here I added the google fonts*/
h1 {
  color: rgb(95, 8, 103);
  font-family: "Black Ops One", cursive;
}

h2 {
  color: rgb(95, 8, 103);
  font-family: "Nato Sans", cursive;
}

/* CSS grid!! */
.fullContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: calc(100vh - 70px);
}

.filtersSide {
  border-right: 0.5px solid purple;
  padding: 24px 12px;
}

.mainSearchInfo {
  padding: 32px 48px;
}

.aiTools {
  border-left: 1px solid purple;
  padding: 24px 12px;
}
